/* reset css inicio */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* reset css fim */

:root{
    --bg-light: #efefef;
    --bg-dark: #707070;
    --clr: #58BC82;
    --clr-alpha: #9c9c9c60;
}
body{
    background-color: #212121;
}
/* main inicio */
main{
    margin-top: 5vh;
    margin-left: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}

.form .input-span {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

form input[type="nome_completo"],
form input[type="nome"],
form input[type="telefone"],
form input[type="cpf"],
form input[type="senha"],
form input[type="confirm_senha"] {
    border-radius: 0.5rem;
    padding: 1rem 0.75rem;
    /* width: 100%; */
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--clr-alpha);
    color: var(--bg-light);
    outline: 2px solid var(--bg-dark);
}

form input[type="nome_completo"]:focus,
form input[type="nome"]:focus,
form input[type="telefone"]:focus,
form input[type="cpf"]:focus,
form input[type="senha"]:focus,
form input[type="confirm_senha"]:focus {
    outline: 2px solid var(--clr);
}

.label {
    align-self: flex-start;
    color: var(--clr);
    font-weight: 600;
}

form .submit {
    padding: 1rem 0.75rem;
    width: 90%;
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: .9rem;
}

form .submit:hover {
    background-color: var(--clr);
    color: var(--bg-dark);
}

.span {
    text-decoration: none;
    color: var(--bg-dark);
}

.span a {
    color: var(--clr);
}
/* main fim */

/* header inicio*/

header {
    background-color: var(--clr);
    width: 100%;
    top: 0;
    left: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1120px;
    margin: 0 auto;
    padding: 16px;
}

/* header fim */
.card-conteiner {
    cursor: default;
    --color-primary: #275efe;
    --color-headline: #3f4656;
    --color-text: #99a3ba;
  }
  
  .card-content {
    width: 100%;
    max-width: 312px;
    padding: 36px 32px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(18, 22, 33, .12);
  }
  
  .card-content .card-title {
    font-family: inherit;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 10px 0;
    color: var(--color-headline);
  }
  
  .card-content .card-title span {
    font-weight: 500;
  }
  
  .card-content .values div, .card-content .current-range div {
    display: inline-block;
    vertical-align: top;
  }
  
  .card-content .values {
    margin: 0;
    font-weight: 500;
    color: var(--color-primary);
  }
  
  .card-content .values > div:first-child {
    margin-right: 2px;
  }
  
  .card-content .values > div:last-child {
    margin-left: 2px;
  }
  
  .card-content .current-range {
    display: block;
    color: var(--color-text);
    margin-top: 8px;
    font-size: 14px;
  }
  
  .card-content .slider {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: .6em;
    color: var(--color-text);
  }
  
  /* Range Slider */
  .input-ranges[type='range'] {
    width: 100%;
    height: 30px;
    overflow: hidden;
    outline: none;
  }
  
  .input-ranges[type='range'],
  .input-ranges[type='range']::-webkit-slider-runnable-track,
  .input-ranges[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
  }
  
  .input-ranges[type='range']::-webkit-slider-runnable-track {
    width: 200px;
    height: 1px;
    background: var(--color-headline);
  }
  
  .input-ranges[type='range']:nth-child(2)::-webkit-slider-runnable-track {
    background: none;
  }
  
  .input-ranges[type='range']::-webkit-slider-thumb {
    position: relative;
    height: 15px;
    width: 15px;
    margin-top: -7px;
    background: #fff;
    border: 1px solid var(--color-headline);
    border-radius: 25px;
    cursor: pointer;
    z-index: 1;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
  }
  
  .input-ranges[type='range']::-webkit-slider-thumb:hover {
    background: #eaefff;
    border: 1px solid var(--color-primary);
    outline: .5px solid var(--color-primary);
  }
  
  .input-ranges[type='range']::-webkit-slider-thumb:active {
    cursor: grabbing;
  }
  
  .input-ranges[type='range']:nth-child(1)::-webkit-slider-thumb {
    z-index: 2;
  }
  
  .rangeslider {
    font-family: sans-serif;
    font-size: 14px;
    position: relative;
    height: 20px;
    width: 210px;
    display: inline-block;
    margin-top: -5px;
  }
  
  .rangeslider input {
    position: absolute;
  }
  
  .rangeslider span {
    position: absolute;
    margin-top: 20px;
    left: 0;
  }
  
  .rangeslider .right {
    position: relative;
    float: right;
    margin-right: -5px;
  }