<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='cadastro.css') }}">
    <script src="https://kit.fontawesome.com/d39b623768.js" crossorigin="anonymous"></script>

    <title>Cadastro</title>
</head>

<body>
    <header>
        <nav>
            <img src="{{ url_for('static', filename='gesobank.webp') }}" alt="gesonel" style="height:10vh;width:10vh;">
            <h1>GESOBANK</h1>
    </header>
    <main>
        <form class="form" id="myForm">
            <span class="input-span">
                <label for="nome_completo" class="label">Nome de Completo</label>
                <input type="nome_completo" name="nome_completo" id="nome_completo" class="input-field"></span>
            <span class="input-span">
                <label for="nome" class="label">Nome de usuario</label>
                <input type="nome" name="nome" id="nome" class="input-field"></span>
            <span class="input-span">
                <label for="telefone" class="label">telefone</label>
                <input type="telefone" name="telefone" id="telefone" class="input-field"></span>

            <span class="input-span">
                <label for="cpf" class="label">cpf</label>
                <input type="cpf" name="cpf" id="cpf" class="input-field"></span>

            <span class="input-span">
                <label for="senha" class="label">senha</label>
                <div class="password-input">
                    <input type="password" name="senha" id="senha" class="input-field">
                    <i class="fa-regular fa-eye Eyecon"></i>
                </div></span>
            <span class="input-span">
                <label for="confirm_senha" class="label">Confirme sua senha</label>
                <div class="password-input">
                    <input type="password" name="confirm_senha" id="confirm_senha" class="input-field">
                    <i class="fa-regular fa-eye Eyecon2"></i>
                </div></span>
                <div class="error-message" id="error-message"></div>

            <input class="submit" type="submit" value="Log in">

        </form>
        <div class="response-container">
            <p id="responseMessage"></p>
        </div>
        <script>
            document.getElementById('confirm_senha').addEventListener('input', function(event) {
                var password = document.getElementById('senha').value;
                var confirmPassword = this.value;
                var errorMessage = document.getElementById('error-message');

                if (password !== confirmPassword && confirmPassword !== '') {
                    errorMessage.innerText = 'As senhas não coincidem!';
                    errorMessage.style.color = 'red';
                    this.classList.add('error');
                } else {
                    errorMessage.innerText = '';
                    errorMessage.style.color = 'transparent';
                    this.classList.remove('error');
                }
            });

            document.getElementById("myForm").addEventListener("submit", function (e) {
                e.preventDefault();
                
                var password = document.getElementById('senha').value;
                var confirmPassword = document.getElementById('confirm_senha').value;
                var errorMessage = document.getElementById('error-message');

                if (password !== confirmPassword || confirmPassword === '') {
                    errorMessage.innerText = 'As senhas não coincidem!';
                    errorMessage.style.color = 'red';
                    return; // Não envia o formulário se as senhas não coincidirem
                } else {
                    errorMessage.innerText = '';
                    errorMessage.style.color = 'transparent';
                }

                const formData = new FormData(this);

                // Converte os dados do formulário para um objeto JSON
                const jsonData = {};
                formData.forEach((value, key) => {
                    jsonData[key] = value;
                });

                // Envia os dados para a API REST
                fetch('/cadastro', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(jsonData)
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('As senhas não coincidem!');
                    }
                    return response.json();
                })
                .then(data => {
                    document.getElementById("responseMessage").textContent = "Resposta da API: " + JSON.stringify(data);
                })
                .catch(error => {
                    document.getElementById("responseMessage").textContent = "Erro: " + error.message;
                });
            });
            const Eyecon = document.querySelectorAll('.Eyecon');
            const x = document.querySelectorAll('#senha')
            for(let i = 0; i< Eyecon.length;i++){
                Eyecon[i].addEventListener('click', ()=>{
                    if (x[i].type ==='password') {
                        x[i].type='text'
                    }
                    else{
                        x[i].type='password'
                    }
                })
            }
            const Eyecon2 = document.querySelectorAll('.Eyecon2');
            const x2 = document.querySelectorAll('#confirm_senha')
            for(let i = 0; i< Eyecon2.length;i++){
                Eyecon2[i].addEventListener('click', ()=>{
                    if (x2[i].type ==='password') {
                        x2[i].type='text'
                    }
                    else{
                        x2[i].type='password'
                    }
                })
            }
        </script>
    </main>
</body>

</html>