<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='cartoes.css') }}">
    <script src="https://kit.fontawesome.com/d39b623768.js" crossorigin="anonymous"></script>
    <title>Cartões</title>
</head>

<body>
    <header>
        <img src="{{ url_for('static', filename='gesobank.webp') }}" alt="gesonel" style="height:10vh;width:10vh;">
        <img src="{{ url_for('static', filename='logo_gesobank.png') }}" alt="gesonel" style="height:10vh;width:25vh;">
    </header>
    <div class="user-info">
        <span class="username">Nome de Usuário</span>
        <span class="saldo saldo-blurred">R$1000,00</span>
        <i id="unblur-icon" class="fas fa-eye-slash unblur-icon" onclick="toggleBlur()"></i>
    </div>
    <main>
        <div class="cartoes-container">
            <a href="{{ url_for('novo_cartao') }}"> <!-- Modificado para redirecionar para a página de novo cartão -->
                <button class="adicionar-cartao-button">Adicionar Cartão</button>
            </a>
            <a href="{{ url_for('pagina_cartao', nome_cartao='COMIDA') }}">
                <button class="cartao-button">COMIDA</button>
            </a>
            <a href="{{ url_for('pagina_cartao', nome_cartao='UBER') }}">
                <button class="cartao-button">UBER</button>
            </a>
            <!-- Outros cartões aqui -->
        </div>
    </main>

    <script>
        function toggleBlur() {
            var saldoElement = document.querySelector('.saldo');
            var iconElement = document.getElementById('unblur-icon');

            if (saldoElement.classList.contains('saldo-blurred')) {
                saldoElement.classList.remove('saldo-blurred');
                iconElement.classList.remove('fa-eye');
                iconElement.classList.add('fa-eye-slash');
            } else {
                saldoElement.classList.add('saldo-blurred');
                iconElement.classList.remove('fa-eye-slash');
                iconElement.classList.add('fa-eye');
            }
        }
    </script>
</body>

</html>
